.finePrint {
    font-size: 0.7em;
    text-align: center;
}
.smlPrint {
    font-size: 1.0em;
    text-align: right;
}
#signupSubmitButton {
    text-align: right;
}

#signupForm {
    border: 3px solid rgb(167, 0, 144) ;
    margin: 10px;
    padding: 15px;
    text-align: left;
}
#centerMe {
    margin: auto;
    text-align: center;
    
}
#centChildDiv {
    display: inline-block;
}
#centInline {
    text-align: center;
}

#tableCenter {
    margin-left:auto; 
    margin-right:auto; 
}

