
<div>
    <div id="centerMe">
        <br /><br /><br />
        <img src="../../assets/LFGLogo.png" width="300" height="100" id="centerMe"/>
        <h2>Sign in to Looking For Games</h2>
    </div>

    <div id="centInline">
        <div id="centChildDiv">
            <form id="signupForm">
                <fieldset >
                    <table id="tableCenter">
                        <tr>  
                            <th><label for="userName">Username: </label></th>
                            <th><input id="userName" type="text"/></th>
                        </tr>
                        <tr>   
                            <th><label for="userPassword1">Password: </label> </th>
                            <th><input id="userPassword1" type="password"/></th>
                        </tr>
                       
                    </table>
                    <label for="errorMsgLabel"></label>
                    <input id="signupSubmitButton" style="float: right; margin-top: 7px; margin-right: 3px" type="button" value="Submit"/><!--mat-raised-button-->
                    <br />
                    <br />
                    <p class="finePrint">By Signing in, you agree to our Terms of Service and Privacy Policy.</p>
                    
                </fieldset>
            </form>            
        </div>
    </div>
    
</div>

    
    
    
    