<div>
    <div id="centerMe">
        <br /><br /><br />
        <img src="../../assets/LFGLogo.png" width="300" height="100" id="centerMe"/>
        <h2>Sign in to Looking For Games</h2>
    </div>
    <div id="centInline">
        <div id="centChildDiv">
            <!-- <div class="container">  
                <h3>Test output:</h3> 
                <p> 
                    User name: {{ username.value }} <br />
                    Password: {{ password.value }} <br />
                </p>  
            </div> -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="UserName">Username</label>
                    <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
                    <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                        <div *ngIf="f.UserName.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="Password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                        <div *ngIf="f.Password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <a routerLink="/signUp" class="btn btn-link">Register</a>
                </div>
            </form>

            <!-- <form id="signupForm">
                <fieldset >
                    <table id="tableCenter">
                        <tr>  
                            <th><label for="userName">Username: </label></th>
                            <th><input type="text" id="userName" [formControl]="userName" autofocus tabindex="0"/></th>
                        </tr>
                        <tr>   
                            <th><label for="userPassword1">Password: </label> </th>
                            <th><input type="password" id="userPassword1" [formControl]="userPassword1" tabindex="1"/></th>
                        </tr>
                    </table>
                    <div>
                        <label id="errorMsgLabel" style="color: black"></label>
                        <button (click)="submitSignin()" id="signupSubmitButton" tabindex="2" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Submit</button>
                    </div>
                    <br/><br/><br/>
                    <span><p class="finePrint">By Signing in, you agree to our Terms of Service and Privacy Policy.</p></span>
                </fieldset>
            </form>             -->
        </div>
    </div>
    <p id="centerMe">Don't have an account? <a routerLink="/signUp" tabindex="3" [state]="{sessionToken: sessionTokenData}">Sign up</a>!</p>
</div>

    
    