<div>
    <div id="centerMe">
        <br /><br /><br />
        <img src="../../assets/LFGLogo.png" width="104" height="115" id="centerMe"/>
        <h2>Sign in to Looking For Games</h2>
    </div>
    <div id="centInline">
        <div id="centChildDiv">
            <!--
            <div class="container">  
                <h3>Test output:</h3> 
                <p> 
                    User name: {{ userName.value }} <br />
                    Password: {{ userPassword1.value }} <br />
                </p>  
            </div>


            <form [formGroup]="loginForm" (ngSubmit)="submitSignin()">
                <div class="form-group">
                    <label for="UserName">Username</label>
                    <input type="text" formControlName="UserName" class="form-control"  />
                    <div  class="invalid-feedback">
                        <div>Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="Password" formControlName="Password" class="form-control" />
                    <div  class="invalid-feedback">
                        <div >Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <a routerLink="/signUp" class="btn btn-link">Register</a>

                    <span><p class="finePrint">By Signing in, you agree to our Terms of Service and Privacy Policy.</p></span>
                </div>
            </form>
            -->

            <form [formGroup]="signUpForm" (ngSubmit)="submitSignin()">
                
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input 
                    type="text" 
                    id="userName" 
                    formControlName="userName" 
                    class="form-control"
                    [formControl]="userName"/>

                 </div>       
                <div class="form-group"> 
                    <label for="userPassword1">Password</label> 
                    <input 
                    type="password" id="userPassword1" 
                    formControlName="userPassword1" 
                    class="form-control" 
                    [formControl]="userPassword1"> 
                </div>
                
                <div>
                    <label id="errorMsgLabel" style="color: black"></label>

                    <div class="form-group">
                        <button [disabled]="loading"  class="btn btn-primary">Login
                        <span 
                            *ngIf="loading" 
                            class="spinner-border spinner-border-sm mr-1">
                        </span>
                        </button>
                        <a routerLink="/signUp" [state]="{sessionToken: sessionTokenData}" class="btn btn-link">Register</a>
                    </div>
                </div>
                <br/><br/><br/>
                <span><p class="finePrint">By Signing in, you agree to our Terms of Service and Privacy Policy.</p></span>
              
            </form>            
        </div>
    </div>
</div>

    
    