<div>
    <div id="centerMe">
        <br /><br /><br />
        <img src="../../assets/LFGLogo.png" width="300" height="100" id="centerMe"/>
        <h2>Host Your Game!</h2>
    </div>

    <div id="centInline">
        <div id="centChildDiv">
            <form id="signupForm">
                <fieldset >
                    <table id="tableCenter">
                        <tr>
                            <th><label for="title">Title: </label></th>
                            <th><input type="text" id="title" [formControl]="title" /></th>
                        </tr>
                        <tr>
                            <th><label for="gameName">Game Name: </label> </th>
                            <!--<th><input type="text" id="gameName" [formControl]="gameName" /></th> -->
                            
                            <th>
                                <select id="gameName" [formControl]="gameName">
                                    <option value="Dungeons and Dragons">Dungeons and Dragons</option>
                                    <option value="Pathfinder">Pathfinder</option>
                                    <option value="Monopoly">Monopoly</option>
                                </select>
                            </th>
                            
                        </tr>
                        <tr>
                            <th><label for="location">Location: </label></th>
                            <th><input type="text" id="location" [formControl]="location" /></th>
                        </tr>
                        <tr>  
                            <th><label for="date">Date: </label></th>
                            <th><input type="date" id="date" [formControl]="date" /></th>
                        </tr>
                        <tr>   
                            <th><label for="restrictions">Restrictions: </label> </th>
                            <th><input type="text" id="restrictions" [formControl]="restrictions" /></th>
                        </tr>
                        <tr>   
                            <th><label for="reqPlayers">Required Players: </label></th>
                            <th><input type="number" id="reqPlayers" [formControl]="reqPlayers" /></th>
                        </tr>
                        <tr>    
                            <th><label for="maxPlayers">Max Players: </label></th>
                            <th><input type="number" id="maxPlayers" [formControl]="maxPlayers" /></th>
                        </tr>
                    </table>
                    <label for="errorMsgLabel"></label>
                    <button (click)="submitSignupForm()" id="signupSubmitButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Submit</button>
                    <br />
                    <br />
                    
                </fieldset>
            </form>  
        </div>
    </div>
    
</div>