
<div style="text-align: center" class="boxed">
    <h2>Friends List</h2>

    <ul class="users">
        <li *ngFor="let UsersPlaceholder of TheUsers"
            (click)="onSelect(UsersPlaceholder)"
            [class.selected]="UsersPlaceholder === selectedUsers">
            <span class="badge">{{UsersPlaceholder.FirstName}}</span> {{UsersPlaceholder.CurrentStatus}}
        </li>
    </ul>
    <div *ngIf="selectedUsers">
        <h2>{{selectedUsers.FirstName | uppercase}} </h2>
        <div><span>UserID: </span>{{selectedUsers.UserID}}</div><br />
        <div>
            <label>FirstName:</label>
            <input [(ngModel)]="selectedUsers.FirstName"><br />
            <label>LastName:</label>
            <input [(ngModel)]="selectedUsers.LastName"><br />
            <label>Location:</label>
            <input [(ngModel)]="selectedUsers.Location">
        </div>
    </div>
</div>