
<div style="text-align: center" class="boxed">
        <h2>Users</h2>

     
       
<ul class="users">
        <li *ngFor="let UsersPlaceholder of TheUsers"
            (click)="onSelect(UsersPlaceholder)"
            [class.selected]="UsersPlaceholder === selectedUsers">
            <span class="badge">{{UsersPlaceholder.FirstName}}</span> {{UsersPlaceholder.CurrentStatus}}
            
        </li>

        <div *ngIf="selectedUsers">
        <h2>{{selectedUsers.FirstName | uppercase}} </h2>
        <div><span>UserID: </span>{{selectedUsers.UserID}}</div><br />
        <div>
            <label>FirstName:
                <input [(ngModel)]="selectedUsers.FirstName">
            </label><br />
            <label>LastName:
                <input [(ngModel)]="selectedUsers.LastName">
            </label><br />
        
            <label>Location:
                 <input [(ngModel)]="selectedUsers.Location">
            </label>

   </div>
</div>

     </ul>
