
table{
  width:100%;
}

.panel-primary {
  margin: 15px;
}

.event-tile {
  background-color: rgb(233, 231, 231);
  border: 1px solid rgb(196, 196, 196);
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
  padding: 7px;
}

.comment {
  border: 1px solid rgb(167, 0, 144);
  border: 2px solid rgb(28, 167, 0);
  border: 3px solid rgb(3, 0, 167);
}

.divLeft {
  display: block;
  float: left;
}
.divRight {
  width:110px;
  display:block;
  float: right;
}

.dist-right {
  padding: 3px;
  text-align: right;
  width: 90px;
}

.clear {
  clear: both;
}

#joinBtn {
  position: relative;
  margin-right: 10px;
  float: right;
  background-color: rgb(103, 252, 108);
}
#leaveBtn {
  position: relative;
  float: right;
}

.sortBtn {
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgb(231, 246, 255);
}
#delEvent {
  margin-right: 5px;
  margin-left: 5px;
}
.selectGame {
  margin-right: 25px;
  margin-left: 20px;
  background-color: rgb(231, 246, 255);
}




#centerMe {
  margin: auto;
  text-align: center; 
}
#centChildDiv {
  display: inline-block;
}
#centInline {
  text-align: center;
}

#tableCenter {
  margin-left:auto; 
  margin-right:auto; 
}

