
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABCbdxy8xO6iftYiU4p-cNbGuAt71mIDM"></script>
        
<div class="panel panel-primary">
  <div class="panel-heading">
    <b>Game Events: </b>
  </div>
  <div class="panel-body" *ngIf="ourGame">
    <!--<h4>Game Currently Active:</h4>-->
    <div id="event-tile">
      <mat-form-field >
        <mat-label>Select a game</mat-label>
        <mat-select [(value)]="gameFilter" >
          <mat-option value="None">All</mat-option>
          <mat-option value="Dungeons and Dragons">Dungeons and Dragons</mat-option>
          <mat-option value="Pathfinder">Pathfinder</mat-option>
          <mat-option value="Monopoly">Monopoly</mat-option>
          <mat-option value="Go fish">Go fish</mat-option>
          <mat-option value="Arkham horror">Arkham horror</mat-option>
          <mat-option value="Elder sign">Elder sign</mat-option>
          <mat-option value="Dungeon!">Dungeon!</mat-option>
          <mat-option value="Rifts">Rifts</mat-option>
          <mat-option value="Warhammer 40000">Warhammer 40000</mat-option>
          <mat-option value="Middle-earth role playing">Middle-earth role playing</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="getGames()" class="sortBtn">Filter Gameboard</button>
      <button mat-raised-button (click)="deleteEvent()" id="delEvent" color="warn">Delete Event</button>
    </div>

    <p (click)="onSelect(ourGame)" *ngFor="let ourGame of ourGame"><!--<b>Game Title: </b>    -->
      <li style="list-style-type:none;">
        <div class="event-tile">
          <table>
              <tr>
                <td ><h4><b>{{ourGame.Title}}</b></h4></td>
                <td style="height: 10">
                  <button mat-raised-button (click)="leaveEvent(ourGame)" id="leaveBtn" color="warn">Leave Event!</button>
                  <button mat-raised-button (click)="joinEvent(ourGame)" id="joinBtn">Join Event!</button>
                </td>
                <!--<td class="dist-right" style="text-align: right" (click)="geoLocator(ourGame.Location)" ><p>{{currentDistance}} miles</p></td>-->
                <td class="dist-right" style="text-align: right" (click)="geoLocator(ourGame.Location)" ><p>{{ourGame.DistFromUser}}mi</p></td>
              </tr>
          </table>


          <table>
            <tr >
              <td style="width: 130px"><p><b>Game Type:</b> </p></td>
              <td><p>{{ourGame.GameType}}</p></td>
            </tr>
            <tr>
              <td style="width: 130px"><p><b>Venu Name:</b> </p></td>
              <td><p>{{ourGame.LocationName}}</p></td>
            </tr>
            <tr>
              <td style="width: 130px"><p><b>Venu Address:</b> </p></td>
              <td><p>{{ourGame.Location}}</p></td>
            </tr>

            <tr>
              <td style="width: 130px"><p><b>Required Players:</b> </p></td>
              <td><p>{{ourGame.ReqPlayers}}</p></td>
            </tr>

          </table>
          
        </div>
      </li>
    </p>
    <!--<h4 style="background: lightslategrey">To join a game please <a routerLink="/signIn">Sign In</a></h4>-->
    <!--<hr />-->
    
    
    

  </div>
    <!--<p>{{gameFilter}}</p>-->
</div>