<div>
    <div id="centerMe">
        <br /><br /><br />
        <img src="../../assets/LFGLogo.png" width="104" height="115" id="centerMe"/>
        <h2>Join Looking For Games!</h2>
        <p>Sign up to find a game in your area today.</p>
    </div>
    <div id="centInline">
        <div id="centChildDiv">
            <form id="signupForm">
                <fieldset >
                    <p>Looking For Games uses your location to find games in</p>
                    <p>your area. For the best experiance <b>please allow access</b></p>
                    <p><b>to your location</b> when prompted by your browser. </p>
                    <br />
                    
                    <table id="tableCenter">
                        <tr>  
                            <th>
                                <label id="userNameLbl">Username: </label>
                            </th>
                            <th>
                                <input type="text" id="userName" [formControl]="userName" /> 
                                <label > *</label>
                            </th>
                            <th>
                                <label id="userNameErr" ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userPassword1Lbl">Password: </label> 
                            </th>
                            <th>
                                <input type="password" id="userPassword1" placeholder="" [formControl]="userPassword1" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userPassword1Err"  ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userPassword2Lbl">Confirm Password: </label>
                            </th>
                            <th>
                                <input type="password" id="userPassword2" placeholder="" [formControl]="userPassword2" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userPassword2Err"  ></label>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <label id="eMailAddressLbl">E-mail: </label>
                            </th>
                            <th>
                                <input type="email" id="eMailAddress" placeholder="yourEmail@example.com" [formControl]="eMailAddress" />  
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="eMailAddressErr"  ></label>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <label id="firstNameLbl">First Name: </label></th>
                            <th>
                                <input type="text" id="firstName" [formControl]="firstName" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="firstNameErr"  ></label>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <label id="lastNameLbl">Last Name: </label> 
                            </th>
                            <th>
                                <input type="text" id="lastName" [formControl]="lastName" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="lastNameErr"  ></label>
                            </th>
                        </tr>
                        <tr>    
                            <th>
                                <label id="userTelephoneLbl">Telephone: </label>
                            </th>
                            <th>
                                <input type="tel" id="userTelephone" placeholder="206-555-1212" [formControl]="userTelephone" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userTelephoneErr"  ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userDOBLbl">Date of Birth: </label>
                            </th>
                            <th>
                                <input type="date" id="userDOB" [formControl]="userDOB" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userDOBErr"  ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userCountryLbl">Country: </label>
                            </th>
                            <th>
                                <!--<input type="text" id="userCountry" placeholder="USA" [formControl]="userCountry" /> *-->
                                <select id="userCountry" [formControl]="userCountry">
                                    <option value = "USA">USA</option>
                                </select> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userCountryErr"  ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userStreetAddressLbl">Address line 1: </label>
                            </th>
                            <th>
                                <input type="text" id="userStreetAddress" [formControl]="userStreetAddress" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userStreetAddressErr"  ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userStreetAddress2Lbl">Address line 2: </label>
                            </th>
                            <th>
                                <input type="text" id="userStreetAddress2" [formControl]="userStreetAddress2" />  
                            </th>
                            <th>
                                <label id="userStreetAddress2Err"  ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userCityLbl">City: </label>
                            </th>
                            <th>
                                <input type="text" id="userCity" [formControl]="userCity" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userCityErr"  ></label>
                            </th>
                        </tr>
                        <tr>  
                            <th>
                                <label id="userStateLbl">State: </label>
                            </th>
                            <th> 
                                <!--<input type="text" id="userState" [formControl]="userState" />-->
                                <select id="userState" [formControl]="userState">
                                    <option value = "Alabama">Alabama</option>
                                    <option value = "Alaska">Alaska</option>
                                    <option value = "Arizona">Arizona</option>
                                    <option value = "Arkansas">Arkansas</option>
                                    <option value = "California">California</option>
                                    <option value = "Colorado">Colorado</option>
                                    <option value = "Connecticut">Connecticut</option>
                                    <option value = "Delaware">Delaware</option>
                                    <option value = "Florida">Florida</option>
                                    <option value = "Georgia">Georgia</option>
                                    <option value = "Hawaii">Hawaii</option>
                                    <option value = "Idaho">Idaho</option>
                                    <option value = "Illinois">Illinois</option>
                                    <option value = "Indiana">Indiana</option>
                                    <option value = "Iowa">Iowa</option>
                                    <option value = "Kansas">Kansas</option>
                                    <option value = "Kentucky">Kentucky</option>
                                    <option value = "Louisiana">Louisiana</option>
                                    <option value = "Maine">Maine</option>
                                    <option value = "Maryland">Maryland</option>
                                    <option value = "Massachusetts">Massachusetts</option>
                                    <option value = "Michigan">Michigan</option>
                                    <option value = "Minnesota">Minnesota</option>
                                    <option value = "Mississippi">Mississippi</option>
                                    <option value = "Missouri">Missouri</option>
                                    <option value = "Montana">Montana</option>
                                    <option value = "Nebraska">Nebraska</option>
                                    <option value = "Nevada">Nevada</option>
                                    <option value = "New Hampshire">New Hampshire</option>
                                    <option value = "New Jersey">New Jersey</option>
                                    <option value = "New Mexico">New Mexico</option>
                                    <option value = "New York">New York</option>
                                    <option value = "North Carolina"North Carolina></option>
                                    <option value = "North Dakota">North Dakota</option>
                                    <option value = "Ohio">Ohio</option>
                                    <option value = "Oklahoma">Oklahoma</option>
                                    <option value = "Oregon">Oregon</option>
                                    <option value = "Pennsylvania">Pennsylvania</option>
                                    <option value = "Rhode Island">Rhode Island</option>
                                    <option value = "South Carolina">South Carolina</option>
                                    <option value = "South Dakota">South Dakota</option>
                                    <option value = "Tennessee">Tennessee</option>
                                    <option value = "Texas">Texas</option>
                                    <option value = "Utah">Utah</option>
                                    <option value = "Vermont">Vermont</option>
                                    <option value = "Virginia">Virginia</option>
                                    <option value = "Washington">Washington</option>
                                    <option value = "West Virginia">West Virginia</option>
                                    <option value = "Wisconsin">Wisconsin</option>
                                    <option value = "Wyoming">Wyoming</option>
                                </select> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userStateErr"  ></label>
                            </th>
                        </tr>
                        <tr>   
                            <th>
                                <label id="userZipCodeLbl">Zip Code: </label>
                            </th>
                            <th>
                                <input type="text" id="userZipCode" placeholder="5 digit zipcode" [formControl]="userZipCode" /> 
                                <label  > *</label>
                            </th>
                            <th>
                                <label id="userZipCodeErr"  ></label>
                            </th>
                        </tr> 
                        <tr>
                            <td>
                                <label id="errorMsgLabel"  >* Required field</label>
                            </td>
                            <td>
                                <button (click)="submitSignupForm()" id="signupSubmitButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Submit</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label></label>
                            </td>
                        </tr>
                    </table>
                    <div class="smlPrint">
                            <label for="userFreeAcc" class="smlPrint">I don't want full use of the LFG site (free account) </label>
                            <input type="checkbox" id="userFreeAcc" [formControl]="userFreeAcc"/>
                            <p class="finePrint">By joining, you agree to our Terms of Service and Privacy Policy.</p>
                            
                        </div>
                </fieldset>
            </form>  

            <!--| FIND USERS latitude & longitude
            <div>
                <p>Click the button to get your coordinates.</p>
                <button (click)="geoLocator()">Try It</button>
            </div>
            |-->
            
            
            <!-- Testing and Error output code from here...  -->
            <div class="container">  
                <!-- Testing input code 
                <h3>Testing output:</h3> 
                <p> 
                    User name: {{ userName.value }} <br />
                    Password: {{ userPassword1.value }} <br />
                    E-mail: {{ eMailAddress.value }} <br />
                    First name: {{ firstName.value }} <br />
                    Last name : {{ lastName.value }} <br />
                    Telephone: {{ userTelephone.value }} <br />
                    Date of Birth: {{ userDOB.value }} <br />
                    Country: {{ userCountry.value }} <br />
                    Address: {{ userStreetAddress.value }} <br />
                    Address2: {{ userStreetAddress2.value }} <br />
                    City: {{ userCity.value }} <br />
                    State: {{ userState.value }} <br />
                    Zipcode: {{ userZipCode.value }} <br />
                    Free Account: {{ userFreeAcc.value }} <br />
                </p> 
                <br />
                
                <h3>Error output:</h3>
                <p>
                    User name: {{ userName.errors }} <br />
                    Password: {{ userPassword1.errors }} <br />
                    Password2: {{ userPassword2.errors }} <br />
                    E-mail: {{ eMailAddress.errors }} <br />
                    First name: {{ firstName.errors }} <br />
                    Last name : {{ lastName.errors }} <br />
                    Telephone: {{ userTelephone.errors }} <br />
                    Date of Birth: {{ userDOB.errors }} <br />
                    Country: {{ userCountry.errors }} <br />
                    Address: {{ userStreetAddress.errors }} <br />
                    Address2: {{ userStreetAddress2.errors }} <br />
                    City: {{ userCity.errors }} <br />
                    State: {{ userState.errors }} <br />
                    Zipcode: {{ userZipCode.errors }} <br />
                    Free Account: {{ userFreeAcc.errors }} <br />
                </p> 
            </div>
            ... To here --> 

        </div>
        <p id="centerMe">Already have an account? <a routerLink="/signIn">Sign in</a>!</p>
    </div>
</div>

  
