

<h3 style="background-color: lightgray">Current Event</h3>
<p>
    <span matBadge="4" matBadgeOverlap="false">Dungeon of Dragon </span><br />
    <span matBadge="2" matBadgeOverlap="false">Dungeon of Dragon </span><br />
    <span matBadge="4" matBadgeOverlap="false">Dungeon of Dragon </span><br />

  </p>
  <p style="background-color: lightgray">
    Current Event Host
    <button mat-raised-button color="primary"
        matBadge="10" matBadgePosition="before" matBadgeColor="Current">
      Action
    </button><br />
  </p>



  
  <p style="background-color: lightgray"> Current User Online
    <mat-icon matBadge="15" matBadgeColor="warn">Users</mat-icon>

      <span class="cdk-visually-hidden">
        


      </span>
      
    </p>
    <table mdbTable>
      <thead class="black white-text">
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of elements">
          <th scope="row">{{el.id}}</th>
          <td>{{el.first}}</td>
          <td>{{el.last}}</td>
          <td>{{el.handle}}</td>
        </tr>
      </tbody>
    </table>

    
    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngIf="User">FirstName : <tr>
        <li *ngFor="let User of User">  {{User.FirstName}}</li>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="User">LastName : <tr>
            <li *ngFor="let User of User">  {{User.LastName}}</li>
          </mat-grid-tile>
       
      </mat-grid-list>

  