<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
</mat-toolbar>

<app-banner-ad></app-banner-ad>

<br />

<div style="text-align:center">
  <nav>
    <a routerLink="/" (click)="renderHome()">Home </a> |

    <a routerLink="/signIn" (click)="newPage()">Sign In </a> |

    <a routerLink="/gameBoard" (click)="newPage()">Game Board </a> |

    <a routerLink="/myAccount" (click)="newPage()">My Account</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<app-search-bar *ngIf="atHome"></app-search-bar>