<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-banner-ad></app-banner-ad>

<br />
<app-search-bar></app-search-bar>
<br />
<app-sign-in></app-sign-in>
<br />
<app-sign-up></app-sign-up>
<br />
<app-game-board></app-game-board> 
<br />
<app-users></app-users>

<nav>
  <a routerLink="/">Home</a>
</nav>
<nav>
  <a routerLink="/signIn">Sign In</a>
</nav>
<nav>
  <a routerLink="/gameBoard">Game Board</a>
</nav>
<router-outlet></router-outlet>


<mat-slider min="1" max="100" step="1" value="1"></mat-slider>