<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
-->

<app-banner-ad></app-banner-ad>

<br />

<div style="text-align:center">
  <nav>
    <a routerLink="/" (click)="renderHome()">Home </a> |

    <a routerLink="/signIn" (click)="newPage()">Sign In </a> |

    <a routerLink="/gameBoard" (click)="newPage()">Game Board </a> |

    <a routerLink="/myAccount" (click)="newPage()">My Account</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<app-search-bar *ngIf="atHome"></app-search-bar>