<!--
<img src="../../assets/LFGLogo.png" width="300" height="100"/>
<h2>Looking For Games</h2>

<div>
  <img src="../../assets/searchIcon.png" width="35" height="35" />
  <select id="selectGame" [(ngModel)]="selectedGame">
    <option selected="selected">What do you want to play today?</option>
    <option *ngFor="let games of gameNames">{{games}}</option>
  </select>
  <input id="searchButton" type="button" value="Find a game!"/>

  <p>{{selectedGame}}</p>

  <mat-form-field>
    <mat-label>What do you want to play today?</mat-label>
    <mat-select>
      <mat-option *ngFor="let games of gameNames">
        {{games}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
-->


<div>
  <div id="centerMe">
    <br /><br /><br />
    <img src="../../assets/LFGLogo.png" width="104" height="115" id="centerMe"/>
    <h2>Looking For Games</h2>
    
    <p>Sign up to find a game in your area today.</p>
  </div>

  <div id="centInline">
    <div id="centChildDiv">
      <div id="centChildDiv">
        <img src="../../assets/searchIcon.png" width="35" height="35" />
        <form>
          <h4>What do you want to play today?</h4>
          <mat-form-field>
            <mat-label>Pick a game</mat-label>
            <mat-select [(ngModel)]="selectedGame" name="game" >
              <mat-option *ngFor="let gamez of gameNames" [value]="gamez.value" >
                {{gamez.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <!--
        <select id="selectGame" [(ngModel)]="selectedGame">
          <option selected="selected">What do you want to play today?</option>
          <option *ngFor="let games of gameNames">{{games}}</option>
        </select>
        -->
      </div>
      <br />
      <div id="centerMe">
        <button mat-raised-button (click)="findThisGame()" >Find a game!</button>
        <br />
        <br />
        <button mat-raised-button [routerLink]="'/createGameEvent'" [state]="{sessionToken: sessionTokenData}">Host an event here!</button>
    
      </div>       
    </div>
    <br />
    <br />
    <p id="centerMe">Already have an account? <a routerLink="/signIn" [state]="{sessionToken: sessionTokenData}">Sign in</a></p>
  </div>
</div>






