
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
    
    <div class="panel panel-primary">
    <div class="panel-heading">
  <span class="glyphicon glyphicon-comment"></span>
  Comments</div>
    <div class="panel-body">
      <hr>
      
  <div ng-app="">
    <b>{{Name}}</b>
    <p>{{Comment}} </p>
  

  
      <hr>
      <b>New Comment</b><br/>

      <mat-form-field>
        <mat-select placeholder="Your Current Login As:">                              
        <mat-option ng-model="Name" value="tempUser.FirstName" aria-placeholder="Your Name"> {{tempUser.FirstName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <td></td>
      
      <textarea ng-model="Comment" id="Comment" 
      Style="width:50%;height:50%;display:inline-block;" 
      class="form-control" placeholder="Write Your Comments.. "></textarea> 
      <td></td>
      <button (click)="submitCommentForm()" 
      id="submitCommentForm"
      class="btn btn-danger">Add Comment</button>
     </div>
      </div>
  </div>
