
<div class="boxed">
    <div id="centerMe">
        <br /><br /><br />
        <img src="../../assets/LFGLogo.png" width="300" height="100" id="centerMe"/>
        <h2>Account Information</h2>
    </div>
    <h3></h3>
    <div id="centInline">
        <div id="centChildDiv">
            <div *ngIf="!hideUserList">
                <ul class="userInfoClass" *ngIf="myAccount" >
                    <li class="tasksLi" *ngFor="let eachUser of myAccount">
                        
                        <span class="oneTask" >
                            <table id="tableCenter">
                                <tr>
                                    <td><label for="_id">User ID: </label></td>
                                    <td><label>{{eachUser._id}}</label></td>
                                </tr>
                                <tr>
                                    <td><label for="firstName">First Name: </label></td>
                                    <td><label>{{eachUser.FirstName}}</label></td>
                                </tr>
                                <tr>
                                    <td><label for="lastName">Last Name: </label> </td>
                                    <td><label>{{eachUser.LastName}}</label></td>
                                </tr>
                                <tr>
                                    <td><label for="eMailAddress">E-mail: </label></td>
                                    <td><label>{{eachUser.Email}}</label></td>
                                </tr>
                                <tr>  
                                    <td><label for="userName">Username: </label></td>
                                    <td><label>{{eachUser.UserName}}</label></td>
                                </tr>
                                <tr>   
                                    <td><label for="userPassword1">Password: </label> </td>
                                    <td><label>{{eachUser.Password}}</label></td>
                                </tr>
                                <tr>    
                                    <td><label for="userTelephone">Telephone: </label></td>
                                    <td><label>{{eachUser.Telephone}}</label></td>
                                </tr>
                                <tr>   
                                    <td><label for="userDOB">Date of Birth: </label></td>
                                    <td><label>{{eachUser.DateOfBirth}}</label></td>
                                </tr>
                                <tr>   
                                    <td><label for="userStreetAddress">Street Address: </label></td>
                                    <td><label>{{eachUser.Address}}</label></td>
                                </tr>
                                <tr>   
                                    <td><label for="userCity">City: </label></td>
                                    <td><label>{{eachUser.City}}</label></td>
                                </tr>
                                <tr>  
                                    <td><label for="userState">State: </label></td>
                                    <td><label>{{eachUser.State}}</label></td>
                                </tr>
                                <tr>   
                                    <td><label for="userZipCode">Zip Code: </label></td>
                                    <td><label>{{eachUser.Zipcode}}</label></td>
                                </tr>
                                <tr>
                                    <td><label for="userSubscriptionLv">Subscription: </label></td>
                                    <td><label>{{eachUser.SubscriptionLv}}</label></td>
                                </tr> 
                                <tr>
                                    <td><label for="userSubscriptionExp">Subscription EXP: </label></td>
                                    <td><label>{{eachUser.SubscriptionExp}}</label></td>
                                </tr> 
                                <tr>
                                    <td><label for="userFreeAccount">Free Account: </label></td>
                                    <td><label>{{eachUser.FreeAccount}}</label></td>
                                </tr> 
                                <tr>
                                    <td><label for="userCreatedOn">Signup date: </label></td>
                                    <td><label>{{eachUser.createdOn}}</label></td>
                                </tr> 
                                <tr>
                                    <th></th>
                                    <th>
                                        <button (click)="editUserInfo(eachUser._id);" id="editUserButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Edit Account</button>
                                        <button (click)="deletePrompt()" id="deleteUserButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-danger">Delete Account</button> 
                                    </th>
                                </tr>
                                <tr *ngIf="deleteConfirmation">
                                    <p>Are you sure you want to delete this account?</p>
                                    <button (click)="deleteUserAccount(eachUser)">Yes</button>
                                    <a mat-button [routerLink]="'/'"> No </a>
                                </tr>
                            </table>
                        </span>
                    </li>
                </ul>
            </div>
            
            <div *ngIf="hideUserList">
            
                <!--<div id="centInline" >-->
                    <!--<div id="centChildDiv">-->
                        <form id="signupForm" *ngIf="foundUser">
                            <fieldset >
                                <table id="tableCenter">
                                    <tr>
                                        <th><label for="firstName">First Name: </label></th>
                                        <th><input type="text" id="firstName" [formControl]="firstName" /></th>
                                    </tr>
                                    <tr>
                                        <th><label for="lastName">Last Name: </label> </th>
                                        <th><input type="text" id="lastName" [formControl]="lastName" /></th>
                                    </tr>
                                    <tr>
                                        <th><label for="eMailAddress">E-mail: </label></th>
                                        <th><input type="email" id="eMailAddress" [formControl]="eMailAddress" /></th>
                                    </tr>
                                    <tr>  
                                        <th><label for="userName">Username: </label></th>
                                        <th><input type="text" id="userName" [formControl]="userName" /></th>
                                    </tr>
                                    <tr>   
                                        <th><label for="userPassword1">Password: </label> </th>
                                        <th><input type="password" id="userPassword1" [formControl]="userPassword1" /></th>
                                    </tr>
                                    <tr>   
                                        <th><label for="userPassword2">Password: </label></th>
                                        <th><input type="password" id="userPassword2" [formControl]="userPassword2" /></th>
                                    </tr>
                                    <tr>    
                                        <th><label for="userTelephone">Telephone: </label></th>
                                        <th><input type="tel" id="userTelephone" [formControl]="userTelephone" /></th>
                                    </tr>
                                    <tr>   
                                        <th><label for="userDOB">Date of Birth: </label></th>
                                        <th><input type="date" placeholder="4000-04-04" id="userDOB" [formControl]="userDOB" /></th>
                                    </tr>
                                    <tr>   
                                        <th><label for="userStreetAddress">Street Address: </label></th>
                                        <th><input type="text" id="userStreetAddress" [formControl]="userStreetAddress" /></th>
                                    </tr>
                                    <tr>   
                                        <th><label for="userCity">City: </label></th>
                                        <th><input type="text" id="userCity" [formControl]="userCity" /></th>
                                    </tr>
                                    <tr>  
                                        <th><label for="userState">State: </label></th>
                                        <th><input type="text" id="userState" [formControl]="userState" /></th>
                                    </tr>
                                    <tr>   
                                        <th><label for="userZipCode">Zip Code: </label></th>
                                        <th><input type="text" id="userZipCode" [formControl]="userZipCode" /></th>
                                    </tr> 
                                </table>
                                <!--<label  id="errorMsgLabelId" >{{errorMsgLabel}}</label> ([text])="errorMsgLabel"-->
                                <button (click)="submitModUserInfo()" id="submitModUserInfoButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Update Info</button>
                                <br />
                                <br />
                                <p class="finePrint">By submitting, you agree to our Terms of Service and Privacy Policy.</p>
                                
                            </fieldset>
                            <div class="smlPrint">
                                <label for="userFreeAcc" class="smlPrint">I don't want full use of the LFG site (free account) </label>
                                <input type="checkbox" id="userFreeAcc" [formControl]="userFreeAcc"/>
                            </div>
                        </form>  
                        
                        
            
                        <!-- New code from here...  
                        <div class="container">  
                            
                            <h3>Test output:</h3> 
                            <p> 
                                First name: {{ firstName.value }} <br />
                                Last name : {{ lastName.value }} <br />
                                E-mail: {{ eMailAddress.value }} <br />
                                User name: {{ userName.value }} <br />
                                Password: {{ userPassword1.value }} <br />
                                Telephone: {{ userTelephone.value }} <br />
                                Date of Birth: {{ userDOB.value }} <br />
                                Address: {{ userStreetAddress.value }} <br />
                                City: {{ userCity.value }} <br />
                                State: {{ userState.value }} <br />
                                Zipcode: {{ userZipCode.value }} <br />
                                Free Account: {{ userFreeAcc.value }} <br />
                            </p>  
                        </div>
                        To here --> 
            
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<app-payment-auth></app-payment-auth>