
<div class="boxed">
    <div id="centerMe">
        <br /><br /><br />
        <img src="../../assets/LFGLogo.png" width="300" height="100" id="centerMe"/>
        <h2>Account Information</h2>
    </div>
    <h3></h3>
    <div id="centInline">
        <div id="centChildDiv" >
            <div *ngIf="!hideUserList">
                <ul class="userInfoClass" *ngIf="tempUser" >
                    <!--<li class="tasksLi" *ngFor="let eachUser of tempUser">-->
                        
                    <span class="oneTask" >
                        <table id="tableCenter">
                            <tr>
                                <td><label for="_id">User ID: </label></td>
                                <td><label>{{tempUser._id}}</label></td>
                            </tr>
                            <tr>  
                                <td><label for="userName">Username: </label></td>
                                <td><label>{{tempUser.UserName}}</label></td>
                            </tr>
                            <tr>   
                                <td><label for="userPassword1">Password: </label> </td>
                                <td><label>*****************</label></td>
                            </tr>
                            <tr>
                                <td><label for="eMailAddress">E-mail: </label></td>
                                <td><label>{{tempUser.Email}}</label></td>
                            </tr>
                            <tr>
                                <td><label for="firstName">First Name: </label></td>
                                <td><label>{{tempUser.FirstName}}</label></td>
                            </tr>
                            <tr>
                                <td><label for="lastName">Last Name: </label> </td>
                                <td><label>{{tempUser.LastName}}</label></td>
                            </tr>
                            <tr>    
                                <td><label for="userTelephone">Telephone: </label></td>
                                <td><label>{{tempUser.Telephone}}</label></td>
                            </tr>
                            <tr>   
                                <td><label for="userDOB">Date of Birth: </label></td>
                                <td><label>{{tempUser.DateOfBirth}}</label></td>
                            </tr>
                            <tr>   
                                <td><label for="userCountry">Country: </label></td>
                                <td><label>{{tempUser.Country}}</label></td>
                            </tr>
                            <tr>   
                                <td><label for="userStreetAddress">Street Address: </label></td>
                                <td><label>{{tempUser.Address}}</label></td>
                            </tr>
                            <tr>   
                                <td><label for="userStreetAddress2">Street Address: </label></td>
                                <td><label>{{tempUser.Address2}}</label></td>
                            </tr>
                            <tr>   
                                <td><label for="userCity">City: </label></td>
                                <td><label>{{tempUser.City}}</label></td>
                            </tr>
                            <tr>  
                                <td><label for="userState">State: </label></td>
                                <td><label>{{tempUser.State}}</label></td>
                            </tr>
                            <tr>   
                                <td><label for="userZipCode">Zip Code: </label></td>
                                <td><label>{{tempUser.Zipcode}}</label></td>
                            </tr>
                            <tr>
                                <td><label for="userSubscriptionLv">Subscription: </label></td>
                                <td><label>{{tempUser.SubscriptionLv}}</label></td>
                            </tr> 
                            <tr>
                                <td><label for="userSubscriptionExp">Subscription EXP: </label></td>
                                <td><label>{{tempUser.SubscriptionExp}}</label></td>
                            </tr> 
                            <tr>
                                <td><label for="userFreeAccount">Free Account: </label></td>
                                <td><label>{{tempUser.FreeAccount}}</label></td>
                            </tr> 
                            <tr>
                                <td><label for="userCreatedOn">Signup date: </label></td>
                                <td><label>{{tempUser.createdOn}}</label></td>
                            </tr> 
                            <tr>
                                <th></th>
                                <th>
                                    <button (click)="editUserInfo(tempUser._id);" id="editUserButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Edit Account</button>
                                    <button (click)="getUser(tempUser._id);" id="editUserButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">getUser</button>
                                    <button (click)="deletePrompt()" id="deleteUserButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-danger">Delete Account</button> 
                                </th>
                            </tr>
                        </table>
                        <div *ngIf="deleteConfirmation">
                                <br />
                                <p style="color: red"><b>Are you sure you want to delete this account?</b></p>
                                <table>
                                    <tr *ngIf="deleteConfirmation">
                                        <th>
                                            <button (click)="deleteUserAccount(tempUser)" id="mtBtn" class="btn btn-danger" >Yes</button>
                                        </th>
                                        <th>
                                            <button (click)="deletePrompt()" id="mtBtn" class="btn btn-dark" >No</button>
                                        </th>
                                        <th>
                                            <button (click)="deletePrompt()" id="mtBtn" class="btn btn-dark" >Cancle</button>
                                            <!--<a mat-button [routerLink]="'/'"> No </a>-->
                                        </th>
                                    </tr>
                                </table>
                            </div>
                    </span>
                    <!--</li>-->
                </ul>
            </div>
            
            <div *ngIf="hideUserList">
            
                <!--<div id="centInline" >-->
                    <!--<div id="centChildDiv">-->
                        <form id="signupForm" *ngIf="tempUser">
                            <fieldset >
                                <table id="tableCenter">
                                    <tr>  
                                        <th>
                                            <label id="userNameLbl">Username: </label>
                                        </th>
                                        <th>
                                            <input type="text" id="userName" [formControl]="userName" /> 
                                            <label > *</label>
                                        </th>
                                        <th>
                                            <label id="userNameErr" ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userPassword1Lbl">Password: </label> 
                                        </th>
                                        <th>
                                            <input type="password" id="userPassword1" placeholder="" [formControl]="userPassword1" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userPassword1Err"  ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userPassword2Lbl">Confirm Password: </label>
                                        </th>
                                        <th>
                                            <input type="password" id="userPassword2" placeholder="" [formControl]="userPassword2" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userPassword2Err"  ></label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label id="eMailAddressLbl">E-mail: </label>
                                        </th>
                                        <th>
                                            <input type="email" id="eMailAddress" placeholder="yourEmail@example.com" [formControl]="eMailAddress" />  
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="eMailAddressErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label id="firstNameLbl">First Name: </label></th>
                                        <th>
                                            <input type="text" id="firstName" [formControl]="firstName" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="firstNameErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label id="lastNameLbl">Last Name: </label> 
                                        </th>
                                        <th>
                                            <input type="text" id="lastName" [formControl]="lastName" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="lastNameErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>    
                                        <th>
                                            <label id="userTelephoneLbl">Telephone: </label>
                                        </th>
                                        <th>
                                            <input type="tel" id="userTelephone" placeholder="800-555-1212" [formControl]="userTelephone" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userTelephoneErr" ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userDOBLbl">Date of Birth: </label>
                                        </th>
                                        <th>
                                            <input type="date" id="userDOB" [formControl]="userDOB" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userDOBErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userCountryLbl">Country: </label>
                                        </th>
                                        <th>
                                            <!--<input type="text" id="userCountry" placeholder="USA" [formControl]="userCountry" /> *-->
                                            <select id="userCountry" [formControl]="userCountry">
                                                <option value = "USA">USA</option>
                                            </select> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userCountryErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userStreetAddressLbl">Address line 1: </label>
                                        </th>
                                        <th>
                                            <input type="text" id="userStreetAddress" [formControl]="userStreetAddress" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userStreetAddressErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userStreetAddress2Lbl">Address line 2: </label>
                                        </th>
                                        <th>
                                            <input type="text" id="userStreetAddress2" [formControl]="userStreetAddress2" />  
                                        </th>
                                        <th>
                                            <label id="userStreetAddress2Err"  ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userCityLbl">City: </label>
                                        </th>
                                        <th>
                                            <input type="text" id="userCity" [formControl]="userCity" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userCityErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>  
                                        <th>
                                            <label id="userStateLbl">State: </label>
                                        </th>
                                        <th> 
                                            <!--<input type="text" id="userState" [formControl]="userState" />-->
                                            <select id="userState" [formControl]="userState">
                                                <option value = "Alabama">Alabama</option>
                                                <option value = "Alaska">Alaska</option>
                                                <option value = "Arizona">Arizona</option>
                                                <option value = "Arkansas">Arkansas</option>
                                                <option value = "California">California</option>
                                                <option value = "Colorado">Colorado</option>
                                                <option value = "Connecticut">Connecticut</option>
                                                <option value = "Delaware">Delaware</option>
                                                <option value = "Florida">Florida</option>
                                                <option value = "Georgia">Georgia</option>
                                                <option value = "Hawaii">Hawaii</option>
                                                <option value = "Idaho">Idaho</option>
                                                <option value = "Illinois">Illinois</option>
                                                <option value = "Indiana">Indiana</option>
                                                <option value = "Iowa">Iowa</option>
                                                <option value = "Kansas">Kansas</option>
                                                <option value = "Kentucky">Kentucky</option>
                                                <option value = "Louisiana">Louisiana</option>
                                                <option value = "Maine">Maine</option>
                                                <option value = "Maryland">Maryland</option>
                                                <option value = "Massachusetts">Massachusetts</option>
                                                <option value = "Michigan">Michigan</option>
                                                <option value = "Minnesota">Minnesota</option>
                                                <option value = "Mississippi">Mississippi</option>
                                                <option value = "Missouri">Missouri</option>
                                                <option value = "Montana">Montana</option>
                                                <option value = "Nebraska">Nebraska</option>
                                                <option value = "Nevada">Nevada</option>
                                                <option value = "New Hampshire">New Hampshire</option>
                                                <option value = "New Jersey">New Jersey</option>
                                                <option value = "New Mexico">New Mexico</option>
                                                <option value = "New York">New York</option>
                                                <option value = "North Carolina"North Carolina></option>
                                                <option value = "North Dakota">North Dakota</option>
                                                <option value = "Ohio">Ohio</option>
                                                <option value = "Oklahoma">Oklahoma</option>
                                                <option value = "Oregon">Oregon</option>
                                                <option value = "Pennsylvania">Pennsylvania</option>
                                                <option value = "Rhode Island">Rhode Island</option>
                                                <option value = "South Carolina">South Carolina</option>
                                                <option value = "South Dakota">South Dakota</option>
                                                <option value = "Tennessee">Tennessee</option>
                                                <option value = "Texas">Texas</option>
                                                <option value = "Utah">Utah</option>
                                                <option value = "Vermont">Vermont</option>
                                                <option value = "Virginia">Virginia</option>
                                                <option value = "Washington">Washington</option>
                                                <option value = "West Virginia">West Virginia</option>
                                                <option value = "Wisconsin">Wisconsin</option>
                                                <option value = "Wyoming">Wyoming</option>
                                            </select> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userStateErr"  ></label>
                                        </th>
                                    </tr>
                                    <tr>   
                                        <th>
                                            <label id="userZipCodeLbl">Zip Code: </label>
                                        </th>
                                        <th>
                                            <input type="text" id="userZipCode" placeholder="5 digit zipcode" [formControl]="userZipCode" /> 
                                            <label  > *</label>
                                        </th>
                                        <th>
                                            <label id="userZipCodeErr"  ></label>
                                        </th>
                                    </tr> 
                                </table>
                                <label  id="errorMsgLabel" ></label> <!--([text])="errorMsgLabel"-->
                                <button (click)="submitModUserInfo()" id="submitModUserInfoButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Update Info</button>
                                <button (click)="swapView()" id="submitModUserInfoButton" style="float: right; margin-top: 7px; margin-right: 9px" class="btn btn-dark">Cancle</button>
                                <br />
                                <br />
                                <p class="finePrint">By submitting, you agree to our Terms of Service and Privacy Policy.</p>
                                
                            </fieldset>
                            <div class="smlPrint">
                                <label for="userFreeAcc" class="smlPrint">I don't want full use of the LFG site (free account) </label>
                                <input type="checkbox" id="userFreeAcc" [formControl]="userFreeAcc"/>
                            </div>
                        </form>  
                        
                        
            
                        <!-- New code from here...  
                        <div class="container">  
                            
                            <h3>Test output:</h3> 
                            <p> 
                                First name: {{ firstName.value }} <br />
                                Last name : {{ lastName.value }} <br />
                                E-mail: {{ eMailAddress.value }} <br />
                                User name: {{ userName.value }} <br />
                                Password: {{ userPassword1.value }} <br />
                                Telephone: {{ userTelephone.value }} <br />
                                Date of Birth: {{ userDOB.value }} <br />
                                Address: {{ userStreetAddress.value }} <br />
                                City: {{ userCity.value }} <br />
                                State: {{ userState.value }} <br />
                                Zipcode: {{ userZipCode.value }} <br />
                                Free Account: {{ userFreeAcc.value }} <br />
                            </p>  
                        </div>
                        To here --> 
            
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<app-payment-auth></app-payment-auth>